<h2>User Details</h2>


<div class="card card-header results-block">

    <div class="each-friend">
        <strong>Name: </strong> <%= @user.full_name %>,
        <strong>Email: </strong> <%= @user.email %>
        
        <% if current_user.friends.where(id: @user.id).exists? %>
            <span class="badge badge-secondar"><strong>(This User is your friend)</strong></span>
        <% else %>
                <%= link_to 'Follow Friend?', friendships_path(friend: @user.id), 
            class: "btn btn-warning btn-sm",method: "post" %>
        <% end %>
        
        <br>
    </div>

</div>

<%= render 'stocks/list' %>
