@import "bootstrap/dist/css/bootstrap";

@import "font-awesome";


.no-right-padding{
    padding-right: 0;
}

.no-left-padding{
    padding-left: 0;
}

.results-block{
    display: inline-block;
    margin-bottom:1rem;
}

.logout-nav-button{
    padding-right:20px;
}

.user-name{
    margin-top:3.5%;
    padding-right:5px;

}

.each-friend{
    padding:10px;
}